.about-us__wrapper {
  margin: 0 29px;
  margin-top: 66px;
  margin-bottom: 38px;

  @media (min-width: $width-tablet) {
    margin: 0 50px;
    margin-bottom: 74px;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    margin: 0 auto;
    padding-left: 175px;
    padding-right: 190px;
    padding-top: 40px;
    padding-bottom: 80px;
    width: 680px;
  }
}

.about-us__title {
  @include font-set( $font-size-menu, $line-height-title, $weight);
  color: $black;
  margin: 0;

  @media (min-width: $width-tablet) {
    @include font-set( $font-size-large, $line-height-large, $weight);
    padding-top: 120px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    padding-bottom: 0;

    @include font-set( $font-size-huge, $line-height-huge, $weight);
  }
}

.about-us__list {
  @include list-style();

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.about-us__item {
  @include font-set($font-size-label, $line-height-text, $weight);
  color: $black;
  padding-top: 90px;
  padding-right: 8px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    fill: #63d1bb;
  }

  &--flower::before {
    background-image: url("/img/icon-feature-flower.svg");
    width: 32px;
    height: 37px;
    top: 35px;
    left: 7px;
  }

  &--rectangle::before {
    background-image: url("/img/icon-feature-money.svg");
    width: 47px;
    height: 27px;
    top: 31px;
    left: 2px;
  }

  &--heart::before {
    background-image: url("/img/icon-feature-heart.svg");
    width: 34px;
    height: 27px;
    top: 30px;
    left: 8px;
  }

  &--thread::before {
    background-image: url("/img/icon-feature-ball.svg");
    width: 35px;
    height: 34px;
    top: 24px;
    left: 6px;
  }

  &--rocket::before {
    background-image: url("/img/icon-feature-rocket.svg");
    width: 55px;
    height: 23px;
    top: 15px;
    left: -4px;
  }

  &--gift::before {
    background-image: url("/img/icon-feature-gift.svg");
    width: 33px;
    height: 32px;
    top: 14px;
    left: 3px;
  }

  @media (min-width: $width-tablet) {
    @include font-set( $font-size-link, $line-height-link, $weight);
    width: 300px;
    padding-top: 102px;
    padding-bottom: 10px;
    padding-right: 33px;

    &--rectangle,
    &--rocket {
      order: 1;
    }

    &--heart,
    &--gift {
      order: 2;
    }

    &::before {
      top: 49px;
      left: 14px;
    }
  }
}
