.category {
  background-color: $primary-color;

  @media (min-width: $width-desktop) {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.category__list {
  margin: 0 auto;

  @include list-style();

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.category__item {
  padding-right: 35px;
  padding-top: 26px;
  padding-left: 29px;
  padding-bottom: 16px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px #46c1ae;
    background-color: #59d5bc;
  }

  &:active {
    background-color: #59d5bc;
  }

  &--dark {
    background-color: $primary-color-dark;
    padding-top: 22px;
    padding-left: 30px;
    padding-bottom: 19px;
    padding-right: 26px;

    &:hover,
    &:active {
      background-color: #46c1ae;
    }

    &:hover {
      box-shadow: 0 5px #46c1ae;
    }
  }

  @media (min-width: $width-tablet) {
    width: 50%;
    padding: 24px 29px;
  }
}

.category__link {
  display: flex;
  justify-content: space-between;
  color: $white;
}

.category__text {
  width: 108px;

  @include font-set( $font-size-text, $line-height-modal, $weight);

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $width-tablet) {
    @include font-set( $font-size-link, $line-height-title, $weight);
  }
}

.category__image {
  background-color: red;
  display: inline-block;
  vertical-align: 20px;

  &--interrior {
    width: 40px;
    height: 62px;
  }

  &--toy {
    width: 60px;
    height: 60px;
  }
}
