.goods-item {
  border-left: 2px solid #ececec;
  border-right: 2px solid #ececec;
}

.goods__list {
  @include list-style();
}

.goods-item__header,
.goods-item__footer {
  border-bottom: 1px solid #ededed;
}

.goods-item__title {
  @include font-set($weight, $font-size-label, $line-height-modal);
  color: $black;
}

.goods-item__text {
  @include font-set($weight-regular, $font-size-mini, $line-height-title);
  color: $grey;
}

.goods-item__price {
  @include font-set($weight, $font-size-reviews, $line-height-modal);
  color: $black;
}
