.main-nav__list {
  @include list-style();
}

.main-nav__item {
  border-bottom: 1px solid $grey-light;
}

.main-nav__link {
  @include font-set($font-size-label, $line-height-modal, $weight);
  color: $black;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
