.modal__title {
  @include font-set( $font-size-menu, $line-height-title, $weight);
  color: $black;
}

.modal__text {
  @include font-set($font-size-reviews, $line-height-title);
  color: $grey;
}

.modal-form__label-radio {
  @include font-set($font-size-label, $line-height-btn, $weight);
  color: $grey;
}

.modal__btn {
  @include font-set($font-size-label, $line-height-btn, $weight);
  color: $white;
  background-color: $primary-color;
}
