.modal__title {
  @include font-set($weight, $font-size-menu, $line-height-title);
  color: $black;
}

.modal__text {
  @include font-set($weight-regular, $font-size-reviews, $line-height-title);
  color: $grey;
}

.modal-form__label-radio {
  @include font-set($weight, $font-size-label, $line-height-btn);
  color: $grey;
}

.modal__btn {
  @include font-set($weight, $font-size-label, $line-height-btn);
  color: $white;
  background-color: $primary-color;
}
