.promo-text {
  @include font-set($font-size-mini, $line-height-modal);
  color: $grey;
  margin: 0;
  padding: 25px 30px;
  padding-bottom: 13px;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-label, $line-height-title);
    display: block;
    margin: 0 auto;
    padding: 0 52px;
    padding-top: 85px;
    padding-bottom: 53px;
  }

  @media (min-width: $width-desktop) {
    width: 672px;
    padding-top: 153px;
  }
}

.order-form__item {
  border: none;
  margin: 0;
  padding: 0;

  &--color {
    border: none;

    @media (min-width: $width-tablet) {
      background-color: $bg-color;
    }
  }
}

.order-form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-bottom: 23px;

  &--color {
    padding-bottom: 8px;
  }

  &--phone {
    padding-bottom: 16px;
  }

  &--mail {
    padding-bottom: 16px;
  }

  &--textarea {
    padding-bottom: 14px;
  }

  @media (min-width: $width-tablet) {
    flex-direction: row;
    padding: 0 50px;
    padding-bottom: 27px;
    align-items: baseline;

    &--mail {
      margin-top: -17px;
    }

    &--phone {
      margin-top: 43px;
    }

    &--textarea {
      margin-top: 0;
    }
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    margin: 0 auto;
    padding-bottom: 22px;
    box-sizing: border-box;

    &--color {
      padding-bottom: 0;
    }

    &--phone {
      padding-top: 56px;
    }
  }
}

.order-form__title {
  @include font-set($font-size-label, $line-height-btn, $weight);
  color: $primary-color;
  text-transform: uppercase;
  display: flex;

  &--phone {
    margin-top: 13px;
  }

  &::after {
    margin-left: 30px;
    z-index: -1;
    height: 1px;
    content: "";
    background-color: #63d1bb;
    flex-grow: 1;
    align-self: center;
  }

  @media (min-width: $width-tablet) {
    margin: 0;
    width: 159px;
    padding-top: 21px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $width-desktop) {
    padding: 0;
    padding-left: 63px;
    width: 100px;
  }
}

.order-form__list {
  @include list-style();

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 517px;
    padding-top: 41px;
    padding-bottom: 20px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    width: 782px;
    padding-bottom: 35px;
  }
}

.order-form__group {
  display: flex;
  flex-wrap: wrap;

  &--mail {
    padding-bottom: 0;
  }

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 9px;

    &--name {
      padding-top: 40px;
      padding-left: 85px;
      padding-right: 19px;
    }
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    width: 700px;
    padding-left: 19px;

    &--name {
      padding-top: 56px;
    }
  }
}

.order-form__label-radio,
.order-form__label-check,
.order-form__label {
  @include font-set($font-size-label, $line-height-medium, $weight);
  color: $black;
  display: block;
}

.order-form__label-radio {
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 63px;
  display: block;
  position: relative;

  @media (min-width: $width-tablet) {
    width: 100%;
    padding-bottom: 40px;
    padding-left: 75px;
    margin: 0;
  }
}

.order-form__label-radio,
.order-form__label-check {
  &:hover {
    &::before {
      border-color: #64d2bb;
    }
  }

  &:active,
  &:checked {
    &::before {
      border-color: #c7c7c7;
    }

    &::after {
      display: block;
    }
  }
}

.order-form__label-radio::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  border: 2px solid #444444;
  left: -1px;
  top: 10px;

  @media (min-width: $width-tablet) {
    width: 49px;
    height: 49px;
    top: 1px;
  }
}

.order-form__label-radio::after {

  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: #62d1ba;
  left: 10px;
  top: 23px;

  @media (min-width: $width-tablet) {
    width: 20px;
    height: 20px;
    top: 17px;
    left: 15px;
  }

  &:checked {
    display: block;
  }
}

.order-form__color {
  @media (min-width: $width-tablet) {
    width: 238px;
    box-sizing: border-box;
  }
}

.order-form__label-check {
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 63px;
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    border: 2px solid #444444;
    width: 40px;
    height: 39px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 10px;
    transform: rotate(-45deg);
    border-left: 2px solid #444444;
    border-bottom: 2px solid #444444;
    left: 10px;
    top: 21px;

    @media (min-width: $width-tablet) {
      width: 26px;
      height: 16px;
      top: 22px;
      left: 13px;
    }

    &:checked {
      display: block;
    }
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 35px;
    padding-left: 82px;
    box-sizing: border-box;

    &::before {
      width: 48px;
      height: 48px;
    }
  }
}

.order-form__input-radio,
.order-form__input-check{
  display: none;
}

.order-form__label {
  margin: 0;
  width: 100%;
  padding-top: 16px;
  display: block;

  @media (min-width: $width-tablet) {
    width: 106px;
    padding-top: 13px;
    padding-bottom: 45px;
  }
}

.order-form__input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
  padding: 13px 0;
  border-bottom: solid 2px $black;

  &--phone {
    padding-bottom: 16px;
    padding-top: 10px;
  }

  &:hover,
  &:focus {
    outline: none;
    border-bottom-color: #62d1ba;
  }

  @media (min-width: $width-tablet) {
    flex-grow: 1;
    width: 70%;
    padding-left: 15px;
    margin-left: 15px;
    margin-bottom: 27px;

    &--single {
      width: 100%;
      background-color: #f1f1f1;
      margin-bottom: 16px;
    }
  }

  @media (min-width: $width-desktop) {
    width: 80%;

    &--single {
      width: 100%;
    }
  }
}

.order-form__icon {
  position: relative;

  &--phone {
    &::before {
      position: absolute;
      content: "";
      right: 8px;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      width: 25px;
      height: 24px;
    }
  }

  &--mail {
    &::before {
      position: absolute;
      content: "";
      right: 20px;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      width: 32px;
      height: 26px;
    }
  }

  @media (min-width: $width-tablet) {
    width: 500px;
  }

  @media (min-width: $width-desktop) {
    width: 695px;
  }
}

.order-form__textarea {
  box-sizing: border-box;
  height: 139px;
  padding: 15px;
  border: solid 2px $black;
  width: 100%;

  &::placeholder {
    font-family: inherit;
    line-height: inherit;
    color: $grey;
  }

  @media (min-width: $width-tablet) {
    width: 500px;
    margin-top: 55px;
  }

  @media (min-width: $width-desktop) {
    width: 700px;
  }
}

.order-form__footer {
  @media (min-width: $width-tablet) {
    display: flex;
    margin: 27px 51px;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    width: 708px;
    margin: 38px auto;
  }
}

.order-form__item-comment {
  @include font-set($font-size-comment, $line-height-btn);
  color: $grey;
  padding: 0 30px;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-label, $line-height-title);
    width: 316px;
    padding-top: 13px;
    margin: 0;
    order: 2;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
  }
}

.order-form__btn {
  @include font-set($font-size-label, $line-height-btn, $weight);
  color: $grey;
  border: 2px solid $grey;
  padding: 17px 45px;
  margin: 25px 30px;
  margin-bottom: 56px;
  background-color: $white;

  @media (min-width: $width-tablet) {
    margin: 0;
    order: 1;
    padding: 16px 29px;
  }
}
