.order-form__item {
  border: none;
}

.order-form__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.order-form__label-radio,
.order-form__label-check,
.order-form__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}

.order-form__list {
  list-style: none;
}

.order-form__item-comment {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #444444;
}

.order-form__btn {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: #444444;
  border: 2px solid #444444;
}
