.page-header__title {
  @include font-set($font-size-title, $line-height-title, $weight);
  text-align: center;
  color: $black;
  padding: 0 20px;
  padding-top: 74px;
  margin: 0;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-large, $line-height-large, $weight);
    padding-top: 104px;
  }

  @media (min-width: $width-desktop) {
    @include font-set($font-size-huge, $line-height-huge, $weight);
    padding-top: 119px;
  }
}

.page-header__text {
  @include font-set($font-size-reviews, $line-height-modal);
  display: none;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 95px;
    right: 55px;
    display: block;
  }
}

.page-header__intro {
  background-color: #f9f9f9;
  margin: 0 auto;

  &--image {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 282px;
  }

  @media (min-width: $width-tablet) {
    padding-top: 40px;

    &--image {
      height: 626px;
      background-position: center;
      margin-top: -78px;
    }
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    margin: 0 auto;
    margin-top: -52px;
  }
}
