.page-footer {
  background-color: $bg-color;

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    margin: 0 auto;
    width: 100%;
  }
}

.page-footer__wrapper {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 100px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $width-tablet) {
    display: block;
    padding: 67px 0;
    padding-right: 78px;

    &--svg {
      &:hover {
        path {
          fill: #46c1ae;
        }
      }

      &:active {
        path {
          fill: rgba(#46c1ae, 0.3);
        }
      }
    }
  }
}

.social {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.social__list {
  @include list-style();
  display: flex;
  justify-content: space-between;
  padding: 0 89px;

  @media (min-width: $width-tablet) {
    margin: 0;
    width: 141px;
    padding: 25px 0;
  }
}

.social__item {
  padding: 19px 0;
  padding-top: 40px;

  @media (min-width: $width-tablet) {
    padding: 51px 0;
  }
}

.social__svg {
  &:hover {
    path {
      fill: #46c1ae;
    }
  }

  &:active {
    path {
      fill: rgba(#46c1ae, 0.3);
    }
  }
}

.copyright__text {
  @include font-set($font-size-text, $line-height-medium, $weight);
  color: $black;

  @media (min-width: $width-tablet) {
    padding-top: 20px;
  }
}

.copyright__link {
  @media (min-width: $width-tablet) {
    padding-left: 37px;
    padding-top: 19px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 69px;
  padding: 22px 0;

  &:active {
    .copyright__text {
      color: rgba($black, 0.3);
    }

    .copyright__svg {
      path {
        fill: rgba(#46c1ae, 0.3);
      }
    }
  }

  @media (min-width: $width-tablet) {
    margin: 0;
    padding: 51px 0;
  }
}
