.page-footer {
  background-color: $bg-color;
}

.social {
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  @include list-style();
}

.copyright__text {
  @include font-set($font-size-text, $line-height-medium, $weight);
  color: $black;
}
