.product-week__title {
  @include font-set($weight, $font-size-menu, $line-height-title);
  color: $black;
}

.product-week__label {
  @include font-set($weight, $font-size-label, $line-height-text);
  color: $primary-color;
}

.product-week__content {
  @include font-set($weight-regular, $font-size-reviews, $line-height-modal);
  color: $grey;
}

.product-week__table {
  border: none;
}

.product-week__parameter,
.product-week__value {
  border-bottom: 1px solid #ececec;
}

.product-week__price {
  @include font-set($weight, $font-size-label, $line-height-modal);
  color: $grey;
}

.product-week__btn {
  @include font-set($weight, $font-size-label, $line-height-text);
  color: $grey;
  border: 2px solid #444444;
  &:hover {
    background-color: $grey;
    color: $white;
  }
  &:active {
    background-color: $grey;
    color: rgba(255, 255, 255, 0.3);
  }
}
