.produck-week__wrapper {
  padding: 0 30px;

  @media (min-width: $width-tablet) {
    padding: 0 50px;
  }
}

.product-week__header {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    justify-content: flex-start;
  }
}

.product-week__title {
  @include font-set($font-size-menu, $line-height-title, $weight);
  color: $black;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-large, $line-height-large, $weight);
  }

  @media (min-width: $width-desktop) {
    order: 2;
    z-index: 1;

    @include font-set($font-size-huge, $line-height-huge, $weight);
  }
}

.product-week__label {
  @include font-set($font-size-label, $line-height-text, $weight);
  color: $primary-color;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-label, $line-height-label, $weight);
    width: 72px;
    padding-top: 45px;
    order: 2;
  }

  @media (min-width: $width-desktop) {
    order: 1;
    width: 175px;
    padding-right: 0;
  }
}

.product-week__content {
  @include font-set($font-size-reviews, $line-height-modal);
  color: $grey;
  margin-bottom: 30px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    width: 306px;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    padding-left: 175px;
  }
}

.product-week__table {
  border: none;
}

.product-week__parameter,
.product-week__value {
  border-bottom: 1px solid $grey-light;
  padding: 10px 0;
}

.product-week__image {
  @media (min-width: $width-tablet) {
    height: 404px;
  }

  @media (min-width: $width-desktop) {
    height: 636px;
    margin-top: -54px;
    margin-left: 220px;
  }
}

.product-week__footer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $width-tablet) {
    flex-direction: column;
    margin-top: -126px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 175px;
  }
}

.product-week__price {
  @include font-set($font-size-label, $line-height-modal, $weight);
  color: $grey;
  padding-bottom: 28px;
  text-align: center;
}

.product-week__btn {
  @include font-set($font-size-label, $line-height-text, $weight);
  color: $grey;
  padding: 15px 80px;
  border: 2px solid $grey;

  &:hover {
    background-color: $grey;
    color: $white;
  }

  &:active {
    background-color: $grey;
    color: rgba(255, 255, 255, 0.3);
  }
}
