.reviews__wrapper {
  margin-bottom: 99px;
  padding: 0 32px;

  @media (min-width: $width-tablet) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 40px;

    @media (min-redolution: $retina-dpi), (min-redolution: $retina-dppx){
      background-image: url("../img/dec-review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.reviews__main {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 77px;
    padding-right: 20px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 73px;
  }
}

.reviews__title {
  @include font-set($font-size-menu, $line-height-title, $weight);
  color: $black;
  margin-bottom: 25px;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-large, $line-height-large, $weight);
    padding-left: 0;
    order: 1;
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    @include font-set($font-size-huge, $line-height-huge, $weight);
    padding-left: 175px;
  }
}

.reviews__slider {
  margin: 0;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    padding: 0 20px;
    padding-top: 43px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 175px;
  }
}

.reiviews__text {
  @include font-set($font-size-reviews, $line-height-title);
  color: $grey;
  margin-bottom: 26px;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-label, $line-height-title);
    margin: 0;
  }
}

.reviews__author {
  font-size: $font-size-label;
  margin-bottom: 36px;

  &-name {
    color: $black;
    font-weight: $weight;
    padding-bottom: 15px;
  }

  &-hashtag {
    color: $grey;
  }

  @media (min-width: $width-tablet) {
    order: 5;
    width: 245px;
    padding-top: 60px;

    &-name {
      @include font-set($font-size-medium, $line-height-modal);
    }
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 53px;

  @media (min-width: $width-tablet) {
    order: 5;
    width: 245px;
    margin-left: auto;
    margin-top: -119px;
  }
}

.slider__btn {
  padding: 9px 38px;
  background: none;
  border: 2px solid #ececec;

  @media (min-width: $width-tablet) {
    padding: 13px 18px;
    border: none;
  }
}

.slider__svg {
  &:hover {
    fill: rgba($black, 0.6);
  }

  &:active {
    fill: rgba($black, 0.3);
  }
}

.btn--prev {
  border-right: none;
}

.reviews__btn {
  @include font-set($font-size-medium, $line-height-text, $weight);
  color: $grey;
  border: 2px solid $grey;
  padding: 13px 75px;

  &:hover {
    background-color: $grey;
    color: $white;
  }

  &:active {
    background-color: $grey;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $width-tablet) {
    @include font-set($font-size-label, $line-height-text, $weight);
    padding: 14px 37px;
    margin: 0;
    order: 2;
  }
}
