.reviews__wrapper {
  margin-bottom: 96px;

  @media (min-width: $width-tablet) {
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
  }
}

.reviews__title {
  @include font-set($font-size-menu, $line-height-title, $weight);
  color: $black;
  padding-left: 30px;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-large, $line-height-large, $weight);
    padding-left: 0;
    order: 1;
  }

  @media (min-width: $width-desktop) {
    padding-left: 175px;
  }
}

.reviews__slider {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    order: 3;
  }

  @media (min-width: $width-desktop) {
    padding-left: 175px;
  }
}

.reiviews__text {
  @include font-set($font-size-reviews, $line-height-title);
  color: $grey;
  margin-bottom: 40px;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-label, $line-height-title);
  }
}

.reviews__author {
  font-size: $font-size-label;
  margin-bottom: 36px;

  &-name {
    color: $black;
    font-weight: $weight;
    padding-bottom: 15px;
  }

  &-hashtag {
    color: $grey;
  }

  @media (min-width: $width-tablet) {
    order: 5;
    width: 245px;
    padding-top: 60px;

    &-name {
      @include font-set($font-size-medium, $line-height-modal);
    }
  }
}

.slider__controls {
  margin-bottom: 41px;
  text-align: center;

  @media (min-width: $width-tablet) {
    order: 5;
    width: 245px;
    margin-left: 500px;
    margin-top: -60px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 1000px;
  }
}

.reviews__btn {
  @include font-set($font-size-medium, $line-height-text, $weight);
  color: $grey;
  border: 2px solid $grey;
  padding: 15px 81px;
  margin-left: 20px;

  @media (min-width: $width-tablet) {
    @include font-set($font-size-label, $line-height-text, $weight);
    padding: 19px 38px;
    margin: 0;
  }
}

.reviews__press {
  @media (min-width: $width-tablet) {
    order: 2;
    padding-top: 20px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 50px;
  }
}
