html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  min-width: $width-mobile;
  min-height: 100vh;
  word-wrap: break-word;
  font-family: $main-font;
  @include font-set($font-size-reviews, $line-height-modal);
  color: $grey;
  background-color: $white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
