@mixin font-set($size, $line-height, $weight:null) {
  font-size: $size;
  line-height: $line-height/$size;
  font-weight: $weight;
}

@mixin transition($property, $time, $transition) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: $transition;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list-style() {
  padding: 0;
  margin: 0;
  list-style: none;
}
