$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;

$font-size-title: 27px;
$font-size-menu: 25px;
$font-size-link: 20px;
$font-size-text: 19px;
$font-size-medium: 18px;
$font-size-label: 17px;
$font-size-reviews: 15px;
$font-size-comment: 14px;
$font-size-mini: 13px;

$line-height-title: 30px;
$line-height-modal: 24px;
$line-height-text: 20px;
$line-height-medium: 18px;
$line-height-btn: 16px;

$weight: bold;
$main-font: "Open-sans", Arial, sans-serif;

$black: #000000;
$black-light: rgba(255, 255, 255, 0.3);
$white: #ffffff;
$grey: #444444;
$grey-light: #ececec;
$primary-color: #63d1bb;
$primary-color-dark: #56c3b2;
$bg-color: #f1f1f1;
